.book-price {
  justify-content: center !important;
  width: 400px;
  background-color: #e76f51;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 50px;
  margin-right: 50px;
  text-align: center;
}

// body.show-page {
//   // background-color: #f2f2f2;
//   background-image: asset-url('cover-show.svg');
//   background-size: cover;
//   width: 100%;
//   height: 900px;
// }

.title-author {
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #264653;
}

.member-info {
  margin-left: 50px;
  margin-bottom: 20px;
  width: 800px;
  color: #264653;
}

.divide-member {
  margin-bottom: 10px;
  width: 800px;
  margin-left: 50px;
}
.divide-member-2 {
  margin-bottom: 10px;
  width: 800px;
  margin-left: 50px;
  margin-top: 50px;
}

.book-details {
  margin-left: 50px;
  justify-content: space-between;
  color: #264653;
}

.show-photo {
  width: 600px;
  height: 400px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-color: white;
}

.show-photos {
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  justify-content: space-between;
}

.member-info h4 {
  color: #e76f51;
}

.icon-details {
  width: 40px;
  height: 40px;
  margin-right: 50px;
}

.book-detail {
  margin-top: 40px;

}

.book-detail-1 {
  margin-top: 10px;
}

.text-price {
  color: white;
  text-align: center;
}

.divide-price {
  width: 300px;
  color: white;
}

.book-price h1 {
  text-align: center;
  color: white;
}

.btn-make-booking {
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  color: #e76f51;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
  margin: 0 auto;
}

.btn-make-booking:hover {
  background-color: #264653;
}

.btn-color {
  color: #e76f51;
}

.btn-color:hover {
  color: #e76f51;
  text-decoration: none;
}
