.profile-books {
  justify-content: center !important;
  width: 500px;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 50px;
  margin-right: 50px;
  margin-left: 50px;
  text-align: center;
  color: #264653;
}

.profile-bookings {
  justify-content: center !important;
  width: 500px;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 50px;
  margin-right: 50px;
  margin-left: 50px;
  text-align: center;
  color: #264653;
}

.profile-bookings h1 {
  color: #e76f51;
  margin-bottom: 50px;
}

.profile-books h1 {
  color: #e76f51;
  margin-bottom: 50px;
}

.user-header {
  color: #e76f51;
  margin-top:100px;
  font-size: 40px;
  margin-left: 50px;
}


.user-subheader {
  color: #264653;
  margin-top: 10px;
  margin-left: 50px;
}
