
<body class="body-index">
<h1 class="header-index"> Books you might like. </h1>
<div class="card-container d-flex">
    <% @books.each do |book| %>
      <div class="card-product">
        <div class="card-product-infos">
          <h3><%= link_to book.title, book_path(book), class: "book-title-index" %> </h3>
          <h4><%= book.author %> </h4>
          <p><em> Belongs to <%=book.user.email%></em></p>
          <p><em>On <%=book.created_at.strftime("%A, %b %d")%></em></p>
          <div class="remove_btn">
            <%#= link_to "Remove", book_path(book), method: :delete, :class => "btn btn-flat" %>
          </div>
        </div>
      </div>
    <%end%>
</div>
</body>
