// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

// Your CSS partials
@import "components/index";
@import "pages/index";
@import 'mapbox-gl/dist/mapbox-gl';

  .main-content {
    min-height: calc(100vh - 252px);
  }
