// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

// Your CSS partials
@import "components/index";
@import "pages/index";
@import 'mapbox-gl/dist/mapbox-gl';

  .main-content {
    min-height: calc(100vh - 252px);
  }

  .wishlist {
    color: #e76f51;
  }

  .wishlist:hover {
    color: #e76f51;
    text-decoration: none;
    color: #264653
  }

.wishlist-container {
  margin-left: 20px;
}
.card-product-wish {
   background-color: white;
  margin-bottom: 50px;
  width: 300px !important;
  padding: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin: 30px;
}

.user-header-wish {
  color: #e76f51;
  text-align: center;
  margin-top: 100px;
}

